.bg {
/* position: fixed;  */
top: 0; 
left: 0;    
/* Preserve aspect ratio */
  max-width: 100%;
  max-height: 100%;
}
h1 {
position: absolute;
width: 477px;
height: 96px;
left: 58px;
top: 58px;
color: yellow;
font-size: 50px;
display: flex;
justify-content: center;
padding: 2%;
align-items: center;
background: #000000;
border: thick #D9D9D9;
}

.tracking {
position: absolute;
width: 284px;
height: 170px;
left: 850px;
top: 58px;
border-radius: 5%;
border: solid thick #D9D9D9;

background: #2960cf;
text-align: left;
padding: 2%;
}

.questions {
box-sizing: border-box;
position: absolute;
width: 503px;
height: 135px;
left: 408px;
top: 300px;
text-align: center;
background: #cbe636;
border: 1px solid #000000;
box-shadow: 0px 4px 4px rgba(247, 211, 211, 0.25);
padding: 0.9rem 1.8rem;
font-size: 30px;
font-weight: 700;
}

.answers {
position: absolute;
width: 602px;
height: 127px;
left: 350px;
top: 475px;
display: flex;
justify-content: space-evenly;
background: #D9D9D9;
}

button {
border-radius: 5%;
display: inline-block;
padding: 0.9rem 1.8rem;
font-size: 16px;
font-weight: 700;
}
button:hover {
  background-color:#7291e7;
}

.finale {
  color: red;
}
